<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Aquí se maqueta el bloque de title {% endcomment %}
        {% endblock title %}

    </title>
</head>
<body>
    <h1>Evaluación Rápida 1</h1>
    <nav>
        <ul>
            <li><a href="{% url "inicio" %}">Inicio</a></li>
            <li><a href="{% url "mision" %}">Mision</a></li>
            <li><a href="{% url "vision" %}">Vision</a></li>
            <li><a href="{% url "acercade" %}">AcercaDe</a></li>
        </ul>
    </nav>
    {% block content %}
    {% comment %} Aquí se maqueta el bloque de content {% endcomment %}
    {% endblock content %} 
</body>
</html>