
HEAD
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(fondo1.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vmax;

    
}

#contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;

 }

 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: normal;
    font-style: italic

 }

 form{
    text-align: center;
    color: white;

 }

 label{
    font-size: 1vw;
 }

 .caja1{
    font-size: 1.5vw;
    font-weight: bold;
    width: auto;
    color: black;

 }

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(fondo1.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100vmax;*/

    
}

#contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;

 }

 h2{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: normal;
    font-style: italic

 }

 form{
    text-align: center;
    color: white;

 }

 label{
    font-size: 1vw;
 }

 .caja1{
    font-size: 1.5vw;
    font-weight: bold;
    width: auto;
    color: black;

 }

 hr{
   color: white;
 }

 #btn{
   margin-top: 2vw;
   padding: 2vw;
   border-radius: 10px;
   background-color: #0fc0f6f0;
   font-size: 2vw;
   color: white;
   font-weight: bold;
 }

 #btn:hover{
  background-color: #060606f0;

  }

  #btn:active{
   background-color: #5db675;
   color: black;
  }
  