{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <h2>{{content}}</h2>
    <p>Desarrollar software de alta calidad que combine innovación, eficiencia y seguridad para satisfacer las necesidades de los usuarios y los objetivos de los negocios. Me comprometo a mejorar continuamente mis habilidades, aplicar las mejores prácticas de la industria y colaborar de manera efectiva en equipos multidisciplinarios. Mi misión es crear soluciones tecnológicas que sean accesibles, escalables y sostenibles, con un enfoque en mejorar la experiencia del usuario y contribuir al desarrollo de una sociedad digital ética y responsable.</p>
{% endblock content %}