{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <h2>{{content}}</h2>
    <p>Convertirme en un desarrollador de software altamente competente y creativo, capaz de diseñar y construir soluciones innovadoras que simplifiquen la vida de las personas y empoderen a los negocios a través de la tecnología. Busco dominar no solo las herramientas y lenguajes más modernos, sino también la comprensión profunda de las necesidades de los usuarios, aplicando principios éticos y de usabilidad en cada proyecto. Mi objetivo es contribuir a un ecosistema digital inclusivo y eficiente, donde cada línea de código cuente y transformar realidades.</p>
{% endblock content %}